# Snippets for all file types

# ./command/date.snippets
extends command/date

# ./command/find-cpp-source.snippets
extends command/find-cpp-source

# ./document/rfc-2119.snippets
extends document/rfc-2119
