snippet find_cpp_source "" b
`find -regex '\./src/.+\.\(c\|cc\|cpp\|cxx\|h\|hh\|hpp\|hxx\)\(\.in\)?' -type f -printf '%P\n' | sort`
endsnippet

snippet find_cpp_header "" b
`find -regex '\./include/.+\.\(h\|hh\|hpp\|hxx\)\(\.in\)?' -type f -printf '%P\n' | sort`
endsnippet

snippet find_cpp_source_and_header "" b
`find -regex '\./\(src\|include\)/.+\.\(c\|cc\|cpp\|cxx\|h\|hh\|hpp\|hxx\)\(\.in\)?' -type f -printf '%P\n' | sort`
endsnippet
